{% load static %}

<h1 class="t-white poppins" style="margin:2rem 0">
    Reflection on the AI Solutions Engineer Internship at UBS
</h1>

<p class="t-white poppins">

The off-cycle internship as an AI Solutions Engineer at UBS stood out to me because it uniquely combines the world of finance with cutting-edge artificial intelligence technologies. Unlike other internships that are either overly theoretical or purely technical, this role offers the opportunity to actively contribute to the development of AI prototypes within cross-functional teams and apply them in real-world business scenarios. I am especially drawn to the mix of trend analysis, experimental work in the AI lab, and involvement in a global organization known for innovation. Moreover, I have been familiar with the field of investment banking from an early age, as my father works in this industry. This exposure sparked my interest in financial markets and economic systems long before I chose my current academic path.

My career began with an apprenticeship as an electrician, followed by advanced training as a systems engineer with a focus on automation. This background has provided me with solid practical experience in planning, implementing, and programming control systems, particularly with PLCs and automation logic. In 2024, I began studying Data Science at the University of Applied Sciences Northwestern Switzerland (FHNW), where I am expanding my skills in statistics, Python programming, and data-driven problem-solving. This combination of technical expertise and analytical thinking makes me a strong candidate for this position.

At UBS, I aim to contribute a structured mindset, hands-on technical experience, and a strong enthusiasm for artificial intelligence. I am driven to approach complex challenges with a solution-oriented attitude, and I enjoy working both independently and collaboratively. My values and working style align well with UBS’s innovation-driven culture. At the same time, I see this internship as a unique opportunity to learn from experienced professionals, grow within a dynamic environment, and make a meaningful impact on the development of intelligent systems.
</p>

<div class="t-center mt-5 mb-5">
    <!-- PDF liegt in static/pdf/ubs-job.pdf -->
    <a href="{% static 'pdf/ubs-job.pdf' %}" class="btn" download>
        Download job advert (PDF)
    </a>
</div>
