{% extends "base.html" %}

{% block content %}
<section id="contact">
    <h1 class="t-center my-2 t-white f-2">Contact</h1>
    <div class="contact-container">
        <div class="contact-item">
            <h2 class="t-white">Email</h2>
            <p class="t-light">You can reach me at: <a href="mailto:alejandro.scheifeledelrio@outlook.com" class="email-link">alejandro.scheifeledelrio@outlook.com</a></p>
        </div>

        <div class="contact-item">
            <h2 class="t-white">Phone</h2>
            <p class="t-light">Feel free to call me at: <a href="tel:+798205475" class="phone-link">+79 820 54 75</a></p>
        </div>

        <div class="contact-item">
            <h2 class="t-white">LinkedIn</h2>
            <p class="t-light">Connect with me on <a href="https://www.linkedin.com/in/alejandro-scheifele-42ab24297" target="_blank" class="linkedin-link">LinkedIn</a></p>
        </div>

        <div class="contact-item">
            <h2 class="t-white">GitHub</h2>
            <p class="t-light">Check out my projects on <a href="https://github.com/yourgithub" target="_blank" class="github-link">GitHub</a></p>
        </div>
    </div>
</section>
{% endblock %}
